body {
    font-family: Palatino, Georgia, serif;
    font-size: 18px;
    background: #C0C0C0;
}

/* container and cell make vertical centering possible */
div.container {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
}
div.cell { 
    display: table-cell;
    vertical-align: middle;
}

h1 a, h1 a:hover {
    color: #727272;
    text-decoration: none;
}

h1 {
    font-size: 4em;
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-family: 'Cardo';
    color: #727272;
    text-decoration: none;
    margin: 0px;
    cursor:default;
}

h1 span.surname {
    color: #61314F;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #999999;
}

p.links {
    text-align: center;
    font-size: 1.528em;
    margin: 7px;
}

p.links .alternate {
   color: #727272;
}

p.description {
    text-align: center;
    font-size: 1.528em;
    color: #858585;
}

ul.books li {
    display: block;
    height: 100px;
    line-height: 100px;
}

ul.books li img {
    vertical-align: middle;
    padding: 5px;
}        

